# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/unlockfps/v16/Browse.VC.opendb
.vs/unlockfps/v16/Browse.VC.db
.vs/unlockfps/v16/Browse.VC.db-shm
.vs/unlockfps/v16/Browse.VC.db-wal
.vs/unlockfps/v16/ipch/AutoPCH/5de2f3ac3ce7c4c3/MAIN.ipch
.vs/unlockfps/v16/.suo
